extends layout

block body
  header.header
    .header__logo
      .logo.__header
        img.logo__image(src="./")
    .header__menu.menu.__position-top
      a.menu__item.link.__link-menu(href="#")
        .link__content INSTALL
      a.menu__item.link.__link-menu(href="#")
        .link__content TUTORIAL
      a.menu__item.link.__link-menu(href="#")
        .link__content DOCS
      a.menu__item.link.__link-menu(href="#")
        .link__content GUIDE
    .header__menu.menu
      a.menu__item.link.__link-menu(href="#")
        .link__content INSTALL
      a.menu__item.link.__link-menu(href="#")
        .link__content TUTORIAL
      a.menu__item.link.__link-menu(href="#")
        .link__content DOCS
      a.menu__item.link.__link-menu(href="#")
        .link__content GUIDE
  .container
    block content

